*{
    padding: 0px;
    margin: 5px;
}

.someUserBox{
    height: 150px;
    width: 400px;
    background-color: white;
    position: relative;
    left: 30px;
    border: 3px solid;
}

h1{
    position: relative;
    top: 25px;
    left: 30px;
}

.someUserText{
    height: 70px;
    width: 300px;
    position: relative;
    top: 40px;
    left: 30px;
}

.button{
    position: relative;
    bottom: 85px;
    left: 220px;
}

#likeButton{
    position: relative;
    background-color: yellow;
    left: 25px;
    width: 60px;
    border: 2px solid;
    box-shadow: 3px 3px;
}